* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAF7F2;
}

.main-section {
  background-image: url("assets/iteration-1/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

.main-content {
  margin-top: 0;
}

.main-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -11px;
  margin-top: 53px;
}

.main-items p {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 44.3px;
  font-size: 32px;
  color: #fdc913;
}

.main-items h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-top: -11px;
  margin-bottom: 0;
  line-height: 92px;
  font-size: 86px;
  color: white;
}

.main-section .btn {
  display: block;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  margin-top: 14px;
  border-radius: 50px;
  background-color: #fdc913;
  padding: 0px 63px;
  border: none;
  width: max-content;
  height: 56px;
}

.menu-categories {
  background-color: white;
  width: 100%;
}

.menu-categories nav {
  margin-top: 0px;
  margin-bottom: 26px;
  max-width: 1072px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 0;
}

.menu-categories nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-categories a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 16px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #292929;
  cursor: pointer;
}

.offers {
  margin-left: auto;
  margin-right: auto;
  margin-top: 68px;
  display: flex;
  justify-content: center;
}

.btn2 {
  color: #CE2829;
  display: block;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  border-radius: 50px;
  width: max-content;
  padding: 0 30px;
  height: 48px;
  border: none;
  
  
}

.offer-content {
  margin: 0 auto;
  width: 1072px;
  height: 449px;
  display: flex;
  gap: 11px;
  border: 1px dotted black;
}



.card-large {
  background-color: #CE2829;
  width: 531px;
  height: 449px;
  border-radius: 12px;
  position: relative;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #FFF;
  margin-top: 0;
  margin-left:  39px;
  position: relative;
  z-index: 2;
}

.card-text h2 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 0;

}

.card-text p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 25px;
}



.card-large img{
  position: absolute;
  width: 531px;
  height: auto;
  top: 0px;
  border-radius: 12px;
}

.cards-right {
  display: flex;
  flex-direction: column;
  height: 449px;
  width: 530px;
  gap: 9px;
  
}

.card-top {
  background-color: #292929;
  display: flex;
  gap: 73.5px;
  border-radius: 12px;
  width: 530px;
  height: 220px;
  position: relative;
}

.card-text2 {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: white;
  margin-top: 0;
  margin-left: 32px;
  margin-bottom: 0px;
  
}

.card-text2 h3 {
    font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin-top: 28.5px;
  margin-bottom: 29px;
}

.card-top img {
  position: absolute;
  width: 210px;
  height: auto;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  width: 530px;
  height: 220px;
  background-image: url("/assets/images/road.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 32px 30px 32px; 
  align-items: flex-end;
  position: relative;
}

.card-text3 {
  display: flex;
  flex-direction: column;           
  align-items: flex-start;       
  gap: 25px;
}

.card-bottom h3 {
  color: #292929;
  margin: 0; 
  
  padding: 0; 
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
}

#red-span {
  color: #CE2829;
}

.btn3 {
  color: #CE2829;
  display: block;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
  width: max-content;
  padding: 0 30px;
  height: 48px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.card-bottom img {
  position: absolute;
  width: 188px;
  height: auto;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
