* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-section {
  background-image: url("assets/iteration-1/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}

.main-content {
  margin-top: 0;
}

.main-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -11px;
  margin-top: 53px;
}

.main-items p {
  margin: 0;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 44.3px;
  font-size: 32px;
  color: #fdc913;
}

.main-items h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-top: -11px;
  margin-bottom: 0;
  line-height: 92px;
  font-size: 86px;
  color: white;
}

.main-section .btn {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 56px;
  margin-top: 14px;
  border-radius: 50px;
  background-color: #fdc913;
  padding: 0px 50px;
  border: none;
}
